.form {
    margin: 10rem;
}

.stats{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "stats stats"
                         "stats stats"
                         "stats stats";
    grid-gap: 1rem;
}

.stats-input {
    text-align: right;
}