<h1>Insira seus jogadores aqui!</h1>
<p-panel class="form" header="Inserir Jogador">
  <form [formGroup]="myForm" (ngSubmit)="inserirJogador()">
    <label for="nome">Nome: </label>
    <input
      pInputText
      [pAutoFocus]="true"
      id="nome"
      formControlName="nome"
      placeholder="Nome do jogador..."
    />
    <div *ngIf="myForm.get('nome')?.hasError('required')">
      <p>Nome é obrigatório!</p>
    </div>
    <div class="stats">
      <div class="stats-input">
        <label for="velocidade">Velocidade: </label>
        <p-inputnumber
          [pAutoFocus]="true"
          id="velocidade"
          formControlName="velocidade"
          placeholder="Velocidade do jogador..."
        />
        <div
          *ngIf="
            myForm.get('velocidade')?.hasError('required') ||
            myForm.get('velocidade')?.hasError('min') ||
            myForm.get('velocidade')?.hasError('max')
          "
        >
          Velocidade deve estar de 0 a 100
        </div>
      </div>
      <div class="stats-input">
        <label for="drible">Drible: </label>
        <p-inputnumber
          [pAutoFocus]="true"
          id="drible"
          formControlName="drible"
          placeholder="Drible do jogador..."
        />
        <div
          *ngIf="
            myForm.get('drible')?.hasError('required') ||
            myForm.get('drible')?.hasError('min') ||
            myForm.get('drible')?.hasError('max')
          "
        >
          Drible deve estar de 0 a 100
        </div>
      </div>
      <div class="stats-input">
        <label for="finalizacao">Finalização: </label>
        <p-inputnumber
          [pAutoFocus]="true"
          id="finalizacao"
          formControlName="finalizacao"
          placeholder="Finalização do jogador..."
        />
        <div
          *ngIf="
            myForm.get('finalizacao')?.hasError('required') ||
            myForm.get('finalizacao')?.hasError('min') ||
            myForm.get('finalizacao')?.hasError('max')
          "
        >
          Finalização deve estar de 0 a 100
        </div>
      </div>
      <div class="stats-input">
        <label for="defesa">Defesa: </label>
        <p-inputnumber
        [pAutoFocus]="true"
        id="defesa"
        formControlName="defesa"
        placeholder="Defesa do jogador..."
        />
        <div
          *ngIf="
            myForm.get('defesa')?.hasError('required') ||
            myForm.get('defesa')?.hasError('min') ||
            myForm.get('defesa')?.hasError('max')
          "
        >
          Defesa deve estar de 0 a 100
        </div>
      </div>
      <div class="stats-input">
        <label for="passe">Passe: </label>
        <p-inputnumber
        [pAutoFocus]="true"
        id="passe"
        formControlName="passe"
        placeholder="Passe do jogador..."
        />
        <div
          *ngIf="
            myForm.get('passe')?.hasError('required') ||
            myForm.get('passe')?.hasError('min') ||
            myForm.get('passe')?.hasError('max')
          "
        >
          Passe deve estar de 0 a 100
        </div>
      </div>
      <div class="stats-input">
        <label for="fisico">Físico: </label>
        <p-inputnumber
        [pAutoFocus]="true"
        id="fisico"
        formControlName="fisico"
        placeholder="Físico do jogador..."
        />
        <div
          *ngIf="
            myForm.get('fisico')?.hasError('required') ||
            myForm.get('fisico')?.hasError('min') ||
            myForm.get('fisico')?.hasError('max')
          "
        >
          Físico deve estar de 0 a 100
        </div>
      </div>
    </div>
    <p-button
      label="Voltar"
      icon="pi pi-arrow-left"
      (onClick)="voltar()"
      [style]="{ 'margin-right': '10px' }"
    />
    <p-button
      label="Inserir {{ myForm.value.nome }}"
      type="submit"
      icon="pi pi-plus"
    />
  </form>
</p-panel>
