@import url(../../../reset.css);

body{
    background-image: url(../images/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    padding: 20px 0;
    background-image: radial-gradient(green, rgb(0, 150, 0));
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.vidas{
    display: flex;
    align-items: center;
}

.vidas img{
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.quadrado{
    width: 200px;
    height: 200px;
}
#titulo{
    margin-top: 20px;
    font-weight: 900;
    color: white;
    text-align: center;
}
main{
    margin-top: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ballon-dor{
    background-size: cover;
    background-image: url(../images/ballon-dor.png);
}